<%= form_for(@bookmark) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Species %><br />
    <%= f.text_field :Species %>
    <button>Edit</button>
    <button>Mark As Sold</button>
    <button>Delete</button>
  </div>

  <div class="field">
    <%= f.label :Breed %><br />
    <%= f.text_field :Breed %>
    <button>Edit</button>
    <button>Mark As Sold</button>
    <button>Delete</button>
  </div>

  <div class="field">
    <%= f.label :Price %><br />
    <%= f.text_field :Price %>
    <button>Edit</button>
    <button>Mark As Sold</button>
    <button>Delete</button>
  </div>

  <div class="field">
    <%= f.label :Status%><br />
    <%= f.text_field :Status %>
    <button>Edit</button>
    <button>Mark As Sold</button>
    <button>Delete</button>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
