<h1>Listing bookmarks</h1>

<table>
  <tr>
    <th>Species:</th>
    <th>Breed:</th>
    <th>Price:</th>
    <th>Status:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bookmarks.each do |bookmark| %>
  <tr>
    <td><%= bookmark.Species %></td>
    <td><%= bookmark.Breed %></td>
    <td><%= bookmark.Price %></td>
    <td><%= bookmark.Status %></td>
    <td><%= link_to 'Show', bookmark %></td>
    <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
    <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bookmark', new_bookmark_path %>
